@import '@/variables.scss';

nav {
    height: 100vh;
    color: #f5f4f6;
    margin-top: 2.5em;
    margin-left: 3.1em;

    div {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        height: 75%;
        cursor: default;
        text-align: center;

        a {
            margin-top: 1.8em;
            list-style-type: none;
            display: inline;
            cursor: pointer;
            color: $gray1;
            transition: all 0.1s;

            &:not(.selected):hover {
                color: lighten($gray1, 9%);
            }

            &.selected {
                color: $white;
                cursor: default;
            }
        }
    }
}
